<!-- CAROUSEL -->
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="img/banner.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="img/banner.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="img/banner.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div >
    <div >
        <img class="banner2img" src="img/banner2.png" alt="banner2">
    </div>
</div>
<footer>
        <div class="footerLogo">
            <img class="footerimg" src="img/logo_longines_oficial.jpg" alt="logo">
        </div>
            <p>2001-2024</p>
        <div class="footerLinks">
            <ul>
                <li><a class="linkFooter" href="#">Terms and conditions/</a></li>
                <li><a class="linkFooter" href="#">Staff /</a></li>
                <li><a class="linkFooter" href="#">Sponsors /</a></li>
                <li><a class="linkFooter" href="#">Work whit us </a></li>
            </ul>
        </div>
</footer>




